.loader{
    width: 20px;
    height: 20px;
    border: 4px solid #8ab4f8;
    border-radius: 50%;
    border-left: 4px solid white;
    animation: load .8s infinite linear;
}

@keyframes load{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}