form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    gap: 10px;
}

@media (min-width: 600px){
    form{
        margin-top: 0;
        width: 70%;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--secondary);
    }
}

.submitButton{
    width: 100%;
    font-size: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 600px){
    .submitButton{
        border-radius: 10px;
        border: 0; 
    }
}

.closeButton{
    background-color: var(--primary);
    align-self: flex-start;
    margin-left: 20px;
    padding: 10px;
    border: 0;
}

@media(min-width: 600px){
    .closeButton{
        background-color: transparent;
    }
}

.subjectField{
    background: none;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    outline: 0;
}