*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, input, button{
    font-family: 'Montserrat', sans-serif;
    font-size: min(5vh, 15px);
}

button{
    cursor: pointer;
}

body{
    background-color: var(--primary);
}

:root{
    --primary: #222;
    --white: #fdfdfd;
    --light-red: #FADBD8;
    --red: #B03A2E;
    --light-green: #D5F5E3;
    --green: #239B56;
}