*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, input, button{
    font-family: 'Montserrat', sans-serif;
    font-size: min(5vh, 15px);
}

button{
    cursor: pointer;
}

body{
    background-color: var(--primary);
}

*::selection{
    background-color: var(--light-blue);
}

ul{
    list-style: none;
}

:root{
    --primary: rgb(29, 29, 29);
    --secondary: rgb(59, 59, 59);
    --tertiary: rgb(48, 48, 48);
    --white: #fdfdfd;
    --light-red: #FADBD8;
    --red: #B03A2E;
    --light-green: #D5F5E3;
    --green: #239B56;
    --light-blue: #6495ed;
    --github-background: #161b22;
}